# Node settings
NODE_ENV=[local|development|testing|production]

# Application settings
APP_NAME=
APP_URL=http[s]://[domain/ip]
APP_PORT=
APP_HOST=0.0.0.0

# PostgreSQL settings
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWD=docker
POSTGRES_DATABASE=
POSTGRES_PORT=5432
